<form action="/add" method="POST">
  <div style="background-image: url('/home/souza/Downloads/1.jpg');">
  <p>ID: </p>
  <input type="text" name="id_usuario">
  <p>CPF: </p>
  <input type="text" name="CPF">
  <p>Nome: </p>
  <input type="text" name="nome_completo">
  <p>Email: </p>
  <input type="text" name="email">
  <p>Senha: </p>
  <input type="text" name="senha">
  <p>Telefone: </p>
  <input type="text" name="telefone">
  <p>linkedin: </p>
  <input type="text" name="linkedin">
  <p>site: </p>
  <input type="text" name="site">
  <button type="submit"><a routerLink="/add">Cadastrar<a/></button>
  </div>
</form>

